<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
            href='/../static/css/main.css'>
        <title>Варианты выбора</title>
    </head>
    <body>
        <h1>Моё предложение: {{planet}}</h1>
        <h4>Эта планета близка к Земле;</h4>
        <a>
            <span class='green_bg'>На ней много необходимых ресурсов;</span>
            <br>
            <span class='gray_bg'>На ней есть вода и атмосфера;</span>
            <br>
            <span class='yellow_bg'>На ней есть небольшое магнитное поле;</span>
            <br>
            <span class='red_bg'>Наконец, она просто красива!</span>
        </a>
    </body>
</html>