<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
            href='/../static/css/main.css'>
        <title>Результаты</title>
    </head>
    <body>
        <h1>Результаты отбора</h1>
        <h2>Претендента на участие в миссии {{nickname}}</h2>
        <h3 class='green_bg'>Поздравляем! Ваш рейтинг после {{levels}} этапа отбора</h3>
        <br>
        <a>составляет {{rating}}</a>
        <h3 class='yellow_bg'>Желаем удачи</h3>
    </body>
</html>