<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
            href='static/css/main.css'>
        <title>Привет, Марс!</title>
    </head>
    <body>
        <h1 class='red_text'>Жди нас Марс!</h1>
        <br>
        <img src="static/image/image.png" alt="здесь должна была быть картинка, но не нашлась">
        <br>
        <a><span class='gray_bg'>Человечество вырастает из детства.</span>
        <br>
        <span class='green_bg'>Человечеству мала одна планета.</span>
        <br>
        <span class='black_bg'>Мы сделаем обитаемыми безжизненные пока планеты.</span>
        </br>
        <span class='yellow_bg'>И начнем с Марса!</span>
        <br>
        <span class='red_bg'>Присоединяйся!</span></a>
    </body>
</html>